<h1>Name: <%= @dish.name %></h1>
<h3>Description: <%= @dish.description %></h3>
<h4>Dish Ingredients: <%= @dish.ingredient_names.join(', ') %></h4>
<h4>Dish Calories: <%= @dish.dish_calories %></h4>
<h4>Created by: <%= @dish.chef.name %></h4>

<%= form_with url: dish_ingredients_path, method: :post, data: {turbo: false} do |f| %>
<%= f.label :ingredient_id, "Add Ingredient"%>
<%= f.text_field :ingredient_id %>
<%= f.submit "Submit" %>
<% end %>